
\c [[LB_PROJECT_prefix]]_db

-- the following should be set by the admin manually, it is set here for convenience
-- models
[[models.*:*.ALTER DATABASE {{LB_PROJECT_prefix}}_db SET "{{app-key}}" TO \'{{model}}\';]]

ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.jwt_secret" TO '[[LB_JWT_MODEL_password]]';
/*
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_jwt" TO '[[LB_JWT_MODEL]]';
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_anonymous" TO '[[LB_REGISTER_GUEST_MODEL]]';
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_editor" TO '[[LB_REGISTER_EDITOR_MODEL]]';
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_registrant" TO '[[LB_REGISTER_REGISTRANT_MODEL]]';
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_registrar" TO '[[LB_REGISTER_REGISTRAR_MODEL]]';
x ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_register_testuser" TO '[[LB_TEST_USER]]';

ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_web_anonymous" TO 'LB_WEB_ANONYMOUS]]';
ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_web_anonymous_role" TO 'LB_WEB_ANONYMOUS_ROLE]]';
ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_web_anonymous_password" TO 'LB_WEB_ANONYMOUS_PASSWORD]]';
ALTER DATABASE [[LB_PROJECT_prefix]]_db SET "app.lb_admin_registrar_password" TO 'LB_ADMIN_REGISTRAR_PASSWORD]]';
*/

