\c [[db-prefix]]_db
--select [[db-prefix]]_schema.credential(current_setting('app.lb_register_guest')::jsonb);
/*
INSERT INTO reg_schema.register(
    reg_app_name,
    reg_version
) VALUES (
    '[[LB_APP_NAME]]',
    '1.0.0'
);

INSERT INTO [[db-prefix]]_schema.credentials(
    crd_email,
    crd_password,
    crd_row
) VALUES (
    'smithj@gmail.com',
    's1S!ssss',
    '{"username":"smithj@gmail.com", "roles": ["editor"]}'::jsonb
);
*/