\c [[db-prefix]]_db

-------------------------------
-- Select
---------

CREATE OR REPLACE FUNCTION
[[db-prefix]]_schema.[[api-name]](_token text, id int) RETURNS TEXT
AS $$
  DECLARE rc TEXT;
  DECLARE secret TEXT;
BEGIN

  -- returns a single user's info
  -- need to figure out postgres environment variables

  rc := '{"result":-1}';

  if [[db-prefix]]_schema.is_valid_token(_token) then

    select
    '{' || [[select-columns]] || '}'
    into rc from
    [[db-prefix]]_schema.[[tbl-name]]
    where [[tbl-prefix]]_id=id;

    if rc is NULL then
      rc := '{"result":-1}';
    end if;
  end if;

  RETURN rc;
END;  $$ LANGUAGE plpgsql;

GRANT EXECUTE ON FUNCTION
  [[db-prefix]]_schema.[[api-name]](
  [[select-parameter-types]]
  ) TO anonymous;


