\c [[db-prefix]]_db
-------------------------------
-- Update XXXXYYYY
---------

CREATE OR REPLACE FUNCTION
[[db-prefix]]_schema.[[api-name]](
  _token TEXT,
  _id int,
  [[update-parameters]]
) RETURNS TEXT
AS $$
    Declare rc TEXT;
  BEGIN
    rc := '{"result":-1}';
    if [[db-prefix]]_schema.is_valid_token(_token, '[[tbl-role]]') then
      rc := '{"result":-2}';
      rc := format('{"result":"%s"}',[[db-prefix]]_schema.get_username(_token));
      update [[db-prefix]]_schema.[[tbl-name]]
        set
          [[update-columns]]
          ,usr_updated=CURRENT_TIMESTAMP
        where [[tbl-prefix]]_id=_id;

      if FOUND then
        rc := '{"result":1}';
      end if;
    end if;
    RETURN rc;
  END;

$$ LANGUAGE plpgsql;

GRANT EXECUTE ON FUNCTION
    [[db-prefix]]_schema.[[api-name]](
    [[update-parameter-types]]
    ) TO anonymous;

