\c [[db-prefix]]_db

----------------------------------------------

CREATE OR REPLACE FUNCTION
[[db-prefix]]_schema.get_username(_token text) RETURNS TEXT
AS $$

  DECLARE data TEXT;

BEGIN

  select payload ->> 'username' as username into data  from verify(_token, current_setting('app.jwt_secret'));

  RETURN data;

END;  $$ LANGUAGE plpgsql;



