\c [[LB_DB_PREFIX]]_db

----------------------------------------------

CREATE OR REPLACE FUNCTION

[[LB_DB_PREFIX]]_schema.get_role(_token text) RETURNS TEXT

AS $$

  DECLARE data TEXT;

  DECLARE secret TEXT;

BEGIN

  select payload ->> 'role' as role into data  from verify(_token, current_setting('app.jwt_secret'));

  RETURN data;

END;  $$ LANGUAGE plpgsql;



